/* esbuild-css-modules-plugin-ns-css:src/ui/shared-styles.module.css */
.shared-styles-module__header_Y_AOrq__0197 {
  color: gray;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 14px;
  display: flex;
}
.shared-styles-module__button_Y_AOrq__0197 {
  appearance: none;
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  background-color: #fafbfc;
  border: 1px solid #1b1f2326;
  border-radius: 4px;
  padding: 3px 8px;
  font-family:
    -apple-system,
    system-ui,
    Segoe UI,
    Helvetica,
    Arial,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji;
  font-size: 11px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  display: inline-block;
  position: relative;
  box-shadow: 0 1px #1b1f230a, inset 0 1px #ffffff40;
}
.shared-styles-module__button_Y_AOrq__0197:hover {
  background-color: #e4e4e4;
  text-decoration: none;
  transition-duration: .1s;
}
.shared-styles-module__button_Y_AOrq__0197:disabled {
  color: #3c3d42;
  cursor: default;
  background-color: #fafbfc;
  border-color: #1b1f2326;
}
.shared-styles-module__button_Y_AOrq__0197:active {
  background-color: #fff;
  transition: none;
  box-shadow: inset 0 1px #f3f3f333;
}
.shared-styles-module__button_Y_AOrq__0197:focus {
  outline: 1px #0000;
}

/* esbuild-css-modules-plugin-ns-css:src/ui/UIField.module.css */
.UIField-module__ui-field_lh-KDa__0197 {
  box-sizing: border-box;
  background: #555;
  border: 1px solid #0000;
  border-radius: 4px;
  flex: 1;
  align-items: stretch;
  margin-bottom: 5px;
  padding: 16px 0 3px;
  font-size: 14px;
  display: flex;
  position: relative;
}
.UIField-module__label_lh-KDa__0197 {
  cursor: text;
  color: #ffffff80;
  pointer-events: none;
  width: calc(100% - 16px);
  font-size: 11px;
  transition: all .2s ease-in-out;
  display: block;
  position: absolute;
  top: 0;
  left: 6px;
}
.UIField-module__label-focused_lh-KDa__0197 {
  color: #fff;
}
.UIField-module__text-input_lh-KDa__0197 {
  color: #fff;
  background: none;
  border: none;
  outline: none;
  width: 100%;
  padding: 0 6px;
  display: block;
}
.UIField-module__select-input_lh-KDa__0197 {
  color: #fff;
  text-align: left;
  background: gray;
  border: none;
  border-radius: 4px;
  width: 100%;
  margin-left: 4px;
  margin-right: 4px;
  padding: 2px;
  display: block;
}
.UIField-module__submit-button_lh-KDa__0197 {
  margin-right: 2px;
  font-size: 11px;
}

/* esbuild-css-modules-plugin-ns-css:src/ui/UIGroup.module.css */
.UIGroup-module__ui-group_WUqfdq__0197 {
  padding-left: 8px;
  padding-right: 8px;
}

/* esbuild-css-modules-plugin-ns-css:src/ui/HideUISection.module.css */
.HideUISection-module__hide-ui-section_ygtI5G__0197 {
  padding-left: 8px;
  padding-right: 8px;
}
.HideUISection-module__hide-ui-section-contents_ygtI5G__0197 {
  justify-content: space-between;
  margin-bottom: 32px;
  display: flex;
}
.HideUISection-module__hidden_ygtI5G__0197 {
  display: none;
}

/* esbuild-css-modules-plugin-ns-css:src/ui/tooltip.module.css */
.tooltip-module__tooltip_qonKzG__0197 {
  position: relative;
}
.tooltip-module__tooltip_qonKzG__0197 .tooltip-module__tooltip-item_qonKzG__0197 {
  visibility: hidden;
  opacity: 0;
  color: #484848;
  z-index: 4;
  background: #fff;
  border: 1px solid #cecece;
  border-radius: 3px;
  min-width: 200px;
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  transition: all .25s cubic-bezier(0, 0, .2, 1);
  position: absolute;
  box-shadow: 0 2px 1px #bcbcbc;
}
.tooltip-module__tooltip_qonKzG__0197 .tooltip-module__tooltip-item_qonKzG__0197:after {
  content: "";
  border-style: solid;
  width: 0;
  height: 0;
  display: block;
  position: absolute;
}
.tooltip-module__tooltip_qonKzG__0197 .tooltip-module__tooltip-initiator_qonKzG__0197 {
  cursor: pointer;
  z-index: 5;
}
.tooltip-module__tooltip_qonKzG__0197[data-direction=left] .tooltip-module__tooltip-initiator_qonKzG__0197:hover ~ .tooltip-module__tooltip-item_qonKzG__0197 {
  visibility: visible;
  opacity: 1;
  transform: translate3d(0, -50%, 0);
}
.tooltip-module__tooltip_qonKzG__0197[data-direction=left] .tooltip-module__tooltip-item_qonKzG__0197 {
  top: 50%;
  right: calc(100% + 1em);
  transform: translate3d(15px, -50%, 0);
}
.tooltip-module__tooltip_qonKzG__0197[data-direction=left] .tooltip-module__tooltip-item_qonKzG__0197:after {
  filter: drop-shadow(1px 2px 1px #bcbcbc);
  border-width: .5em 0 .5em .5em;
  border-color: #0000 #0000 #0000 #fff;
  top: 50%;
  right: -.5em;
  transform: translate3d(0, -50%, 0);
}
.tooltip-module__tooltip_qonKzG__0197[data-direction=bottom] .tooltip-module__tooltip-initiator_qonKzG__0197:hover ~ .tooltip-module__tooltip-item_qonKzG__0197 {
  visibility: visible;
  opacity: 1;
  transform: translate3d(-50%, 0, 0);
}
.tooltip-module__tooltip_qonKzG__0197[data-direction=bottom] .tooltip-module__tooltip-item_qonKzG__0197 {
  top: calc(100% + 1em);
  left: 50%;
  transform: translate3d(-50%, -15px, 0);
}
.tooltip-module__tooltip_qonKzG__0197[data-direction=bottom] .tooltip-module__tooltip-item_qonKzG__0197:after {
  filter: drop-shadow(1px -1px 1px #bcbcbc);
  border-width: 0 .5em .5em;
  border-color: #0000 #0000 #fff;
  top: -.5em;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}

/* esbuild-css-modules-plugin-ns-css:src/ui/UnusedParameters.module.css */
.UnusedParameters-module__unused-parameters_BZL2TW__0197 {
  margin-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
}
.UnusedParameters-module__hidden_BZL2TW__0197 {
  display: none;
}
.UnusedParameters-module__header_BZL2TW__0197 {
  margin-top: 1em;
  font-size: 1.2em;
  font-weight: bold;
}
.UnusedParameters-module__param-list-item_BZL2TW__0197 {
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 14px;
  display: flex;
}

/* esbuild-css-modules-plugin-ns-css:src/ui/ViewerUI.module.css */
.ViewerUI-module__viewer-ui_ne7v1W__0197 {
  z-index: 1000;
}
.ViewerUI-module__menu-button_ne7v1W__0197 {
  z-index: 1000;
  cursor: pointer;
  color: #fff;
  pointer-events: auto;
  user-select: none;
  background-color: #00000080;
  border: 0;
  border-bottom-left-radius: 4px;
  width: 40px;
  height: 40px;
  padding: 10px;
  position: fixed;
  top: 0;
  right: 0;
}
.ViewerUI-module__menu-button_ne7v1W__0197:hover {
  background-color: #000c;
}
.ViewerUI-module__empty-state_ne7v1W__0197 .ViewerUI-module__menu-button_ne7v1W__0197 {
  display: none;
}
.ViewerUI-module__header_ne7v1W__0197 {
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px 4px;
  display: flex;
}
.ViewerUI-module__title_ne7v1W__0197 {
  align-items: center;
  font-size: 20px;
  display: flex;
}
.ViewerUI-module__logo_ne7v1W__0197 {
  height: 30px;
  margin-right: 5px;
}
.ViewerUI-module__github-link_ne7v1W__0197 {
  color: #fff;
  text-align: center;
  flex-direction: column;
  align-items: center;
  font-size: 11px;
  text-decoration: none;
  display: flex;
}
.ViewerUI-module__github-logo_ne7v1W__0197 {
  width: 30px;
  height: 30px;
}
.ViewerUI-module__contents_ne7v1W__0197 {
  z-index: 1000;
  color: #fff;
  backdrop-filter: blur(10px);
  pointer-events: auto;
  background-color: #121212cc;
  border-bottom-left-radius: 4px;
  width: 300px;
  max-height: 100%;
  font-family: Arial, sans-serif;
  position: fixed;
  top: 0;
  right: 0;
  overflow: scroll;
  transform: translate(0);
}
.ViewerUI-module__empty-state_ne7v1W__0197 .ViewerUI-module__contents_ne7v1W__0197 {
  border-radius: 4px;
  max-width: 100%;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
/*# sourceMappingURL=index.css.map */
